@import url("https://fonts.googleeapis.com/css2?family=Montserrat:wght;200;300;400;500;600;700;800;900&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,129,255,1) 58%, rgba(0,0,0,1) 100%);
    font-family: Montserrat;
    position: relative;
}




.btn{
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 2;
    display: flex;
    width: 20px;
    height: 20px;
}

.btn span {
    width: 20px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: absolute;
    transition: .4s;
}


.btn span:nth-child(1) {
    top: 20;
}

.btn span:nth-child(2) {
    top: 80;
}

.btn.is-active span {
background-color: #fff;    
}

.btn.is-active span:nth-child(1) {
top: 50%;
transform: rotate(-45deg);
}

.btn.is-active span:nth-child(2) {
top: 50%;
transform: rotate(-45deg);
}

.menu {
    background: black;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 275px;
    z-index: 1;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

.menu.is-active {
    opacity: 1;
    visibility: visible;
}

.menu__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}



.menu__item:not(:last-child) {
    margin-bottom: 75px;
    margin-right: 20px;
}




.menu__link {

    position: relative;
    display: inline-flex;
    font-weight: bold;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}


.menu__link:after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 10px;
    width: 0;
    height: 5px;
    display: inline-flex;
    background: #c5e600;
    transition: .4s;
}

.menu__link:hover:after {
    width: 100%;
}


#more {display: none;}